<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div id="employeesPanel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Работники</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <app-employee-add></app-employee-add>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-employee-list></app-employee-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
